<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    form {
      border: 1px solid black;
      padding: 20px;
      display: flex;
      align-items: center;
      text-emphasis: center;
      flex-direction: column;
    }
  </style>
  <body>
    <form action="/submit_form" method="post">
      <label
        ><h2>Enter Name: <input type="text" name="username" /></h2>
      </label>
      <label
        ><h2>Enter Email: <input type="email" name="Email" /></h2>
      </label>
      <label
        ><h2>
          Enter Password: <input type="password" hidden name="password" />
        </h2> </label
      ><br />
      <input type="submit" />
    </form>
  </body>
</html>
